:root {
    --bg-flawless: #F9F4F6;
    --plum-soft: #C28EAB;
    --plum-pale: #A65E7E;
    --deep-plump:#8B2D56;
    --gold: #c5a059;
    --dark: #1a1a1a;
    --light-gold: #f4e1d2;
    --white: #ffffff;
    --transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    --nav-color:#333;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: var(--white);
    color: var(--dark);
}

.container {
    display: flex;
    min-height: 100vh;
}

/* --- SIDEBAR --- */
.sidebar {
    width: 250px;
    background-color: white;
    border-right: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 24px;
    position: fixed;
    height: 100vh;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 40px;
}

.icon-box {
    background: var(--dark);
    color: white;
    padding: 8px;
    border-radius: 8px;
    font-size: 1.2rem;
}

nav {
    flex-grow: 1;
}

nav a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: var(--nav-color);
    border-radius: 8px;
    margin-bottom: 4px;
    transition: 0.2s;
}

nav a.active {
    background-color: var(--dark);
    color: #ffffff;
}

.user-profile-bottom {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 20px;
    border-top: 1px solid var(--white);
}

.logout {
    margin-top: 20px;
    text-decoration: none;
    color: #71717a;
    font-size: 0.9rem;
}

/* --- MAIN CONTENT --- */
.main-content {
    margin-left: 250px; /* Space for the fixed sidebar */
    flex-grow: 1;
    background-color: #ffffff;
}

.header {
    background-image: url('banner (1).png');
    background-position: center;
    background-size: cover;
    color: white;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    size: 50px;
    font-weight: bolder;
}

.header p {
    color: var(--white);
    margin-top: 4px;
    size: 40px;
    font-weight: bold;
}

.event-counter {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 12px 20px;
    size: 12px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.count {
    font-size: 1.2rem;
    font-weight: bold;
}

/* --- EVENTS SECTION --- */
.events-section {
    padding: 40px 60px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.section-header p {
    color: var(--nav-color);
}

.btn-plan {
    background-color: #0d0d12;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

/* Grid Layout for Cards */
.event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 25px;
}

.event-card {
    border: 1px solid #e5e7eb;
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.2s;
}

.event-card:hover {
    transform: translateY(-4px);
}

.image-container {
    height: 180px;
    background-size: cover;
    background-position: center;
    padding: 15px;
    background-image: url('wedding\ 1.jpg');
}

.badge {
    float: right;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.confirmed { background-color: #22c55e; }
.pending { background-color: #F2B949 }
.declined { background-color:#9F1717}

.card-content {
    padding: 20px;
}

.card-content h3 {
    font-size: 1.1rem;
    margin-bottom: 8px;
}

.location, .date {
    color: #71717a;
    font-size: 0.9rem;
    margin-bottom: 4px;
}

.card-footer {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #f4f4f5;
    display: flex;
    justify-content: space-between;
    color: #71717a;
    font-size: 0.85rem;
}