:root {
    ---bg-flawless: #F9F4F6;
    --plum-soft: #C28EAB;
    --plum-pale: #A65E7E;
    --deep-plump:#8B2D56;
    --gold: #c5a059;
    --dark: #1a1a1a;
    --light-gold: #f4e1d2;
    --white: #ffffff;
    --nav-color:#333; 
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    overflow: hidden;
}

/* NAVIGATION */
nav {
    display: flex;
    justify-content: flex-start;
    padding: 15px 5%;
    background: white;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav a {
    color: #333;
    text-decoration: none;
    padding: 0 15px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* BACKGROUND CONTAINER */
.page-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(rgba(26, 26, 26, 0.5), rgba(26, 26, 26, 0.5)), url('Collage.png');
    background-size: cover;
    background-position: center;
}

.form-overlay {
    background: var(--white);
    padding: 40px;
    width: 350px;
    height: 350px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    text-align: center;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-overlay h2 {
    font-size: 36px;
    color: var(--dark);
    margin-bottom: 15px;
    font-weight: normal;
    letter-spacing: 1px;
}

/* INPUT ROW: Email / Name / Number */
.input-row {
    gap: 20px;
    padding-bottom: 50px;
    margin-bottom: 60px;
}

.form-group {
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--dark);
    letter-spacing: 1px;
}

input {
    width: 100%;
    padding: 12px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--dark);
    font-size: 16px;
    font-family: inherit;
    transition: var(--transition);
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-bottom: 1px solid var(--gold);
}

.password-row {
    margin-bottom: 40px;
}

/* CTA BUTTON */
.cta-button {
    width: 100%;
    max-width: 300px;
    padding: 15px;
    background-color: var(--dark);
    color: white;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: var(--transition);
}

.cta-button:hover {
    background-color: var(--gold);
    transform: translateY(-2px);
}

.footer-link {
    display: block;
    margin-top: 20px;
    font-size: 13px;
    color: #666;
    text-decoration: none;
}
